@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

$fonts-headline: Rajdhani, sans-serif;
$fonts-body: Rajdhani, Helvetica;
$background-color: #00005f;
$background-color-light: #fff;
$primary: #e75a7c;
$accent1: #6EFA00;
$accent2: #f8ec26;
$accent3: #888888;
$text-dark: #000;
$text-light: #fff;